html, body {
    margin: 0;
    min-height: 100%;
    font-family: sans-serif;
}
#container_main{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#container_graph{
    height: 65%;
}
#col1{
    width: 60%;
    height: 100%;
    display: inline-block;
}
#col2{
    width: 40%;
    height: 100%;
    display: inline-block;
}
#chart_main{
    width: 100%;
    height: 100%;
}
#chart_donut{
    width: 100%;
    height: 50%;
}
#chart_pie{
    width: 100%;
    height: 50%;
}
#container_controls{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.container_slider {
    display: inline-block;
    width: 22%;
    margin-right: 2%;
    text-align: center;
}
.container_slider:last-child {
    margin-right: 0;
}
.container_slider h2{
    font-size: 16px;
    font-weight: normal;
}
.slider {
    width: 100%;
}
.valor {
    font-weight: bold;
    color: #666666;
}